@inherits LayoutComponentBase

<TelerikRootComponent>
    <nav class="navbar navbar-light navbar-expand-md">
        <a class="navbar-brand" href="#">Home</a>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4">
            </div>
            <div class="col-md-6 col-lg-4">
                @Body
            </div>
            <div class="col-md-3 col-lg-4">
            </div>
        </div>
    </div>
</TelerikRootComponent>
