@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider;
@using WeightliftingTeam1.Data; 
@*<div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>


     navbar-dark bg-dark
    bg-dark

*@
<TelerikRootComponent>
    <nav class="navbar navbar-light navbar-expand-md" style=" background-color: rgba(244, 248, 250, 0.8);">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" @onclick ="(() => Logout())">Logout</a>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content my-container">
        @*Index Page is rendered here*@
        @Body
    </div>
    <footer class="d-flex align-items-center">
        <a class="text-dark ml-3" href="https://github.com/Lozovskij/weightlifting_team1">github.com</a>
    </footer>

</TelerikRootComponent>

@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}