* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #15294b;
}


@media only screen and (min-width: 760px) {
    .my-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

.text-section {
    /*min-height: 40vh;*/
    font-size: 2.5rem;
    text-shadow: 0 0 2px #000;
    color: white;
    /*padding-top: 33vh;*/
    padding-top: 25vh;
}

.my-container {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
}

.my-param-container {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(206 212 218);
    background-color: white;
}
/*.one-color {
    background-color: rgba(119, 119, 119, 0.3);
}*/

.content {
    min-height: 90vh;
   
}

@media only screen and (max-width: 700px) {
    .content {
        min-height:unset;
    }
}



.navbar {
    background-color: rgba(13, 29, 59, 0.81);
    /*background: rgba(255,255,255,0.2) !important;*/ /* Give transparent white background to navbar */
    /* 0.2 to give little whitish effect. */
    /* Put 0 to get complete transperency */
    opacity: 0.8;
    backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
    /* 10px Gaussian Blur and saturate for fluent design */
    -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
}


footer {
    height: 40vh;
    /*height: 10vh;
      color: #003b75!important;//
    */
}

@media only screen and (max-width: 700px) {
    footer {
        height: 10vh;
        align-items:center;
        justify-content:center;
    }
}

.fade-in-animation {
    animation: fadein 0.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.parallax {
    /* The image used */
    background-image: linear-gradient(rgba(119, 119, 119, 0.3), rgba(119, 119, 119, 0.3)),url(../images/picture.jpg);
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 700px) {
    .parallax {
        background-image: linear-gradient(rgba(119, 119, 119, 0.3), rgba(119, 119, 119, 0.3)),url(../images/picture.jpg);
        background-attachment:unset;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.main-background {
    background-image: linear-gradient(rgba(119, 119, 119, 0.3), rgba(119, 119, 119, 0.3));
    background-size: cover;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }