@layout MainLayout
@page "/editing"
@using WeightliftingTeam1.Components
@using WeightliftingTeam1.Data
@using WeightliftingTeam1.ModelsForOutput
@using WeightliftingTeam1.Panels
@inject DataRetrievalService dataRetrievalService

    <div class="min-vh-70" style="overflow: auto">

        <GridForEditing GridDataTask="AthletesTask"></GridForEditing>

        <GridForEditing GridDataTask="AttemptsTask"></GridForEditing>

        <GridForEditing GridDataTask="CompetitionsTask"></GridForEditing>

        <GridForEditing GridDataTask="CountriesTask"></GridForEditing>

        <GridForEditing GridDataTask="DisqualificationsTask"></GridForEditing>

        <GridForEditing GridDataTask="PeriodsTask"></GridForEditing>

        <GridForEditing GridDataTask="PlacesTask"></GridForEditing>

        <GridForEditing GridDataTask="RecordsTask"></GridForEditing>

        <GridForEditing GridDataTask="RecordTypesTask"></GridForEditing>

        <GridForEditing GridDataTask="WeightCategoriesTask"></GridForEditing>

    </div>

