@layout MainLayout
@page "/editing"
@using WeightliftingTeam1.Components
@using WeightliftingTeam1.Data
@using WeightliftingTeam1.ModelsForOutput
@using WeightliftingTeam1.Panels
@inject DataRetrievalService dataRetrievalService

    <div class="min-vh-70" style="overflow: auto">

        <GridForEditing GridData="Athletes"></GridForEditing>

        <GridForEditing GridData="Attempts"></GridForEditing>

        <GridForEditing GridData="Competitions"></GridForEditing>

        <GridForEditing GridData="Countries"></GridForEditing>

        <GridForEditing GridData="Disqualifications"></GridForEditing>

        <GridForEditing GridData="Periods"></GridForEditing>

        <GridForEditing GridData="Places"></GridForEditing>

        <GridForEditing GridData="Records"></GridForEditing>

        <GridForEditing GridData="RecordTypes"></GridForEditing>

        <GridForEditing GridData="WeightCategories"></GridForEditing>

    </div>

