@layout MainLayout
@page "/editing"
@using WeightliftingTeam1.Components
@using WeightliftingTeam1.Data
@using WeightliftingTeam1.ModelsForOutput
@using WeightliftingTeam1.Panels
@inject DataRetrievalService dataRetrievalService

    <div class="min-vh-70" style="overflow: auto">

        <GridForEditing SearchDataTask="AthletesTask"></GridForEditing>

        <GridForEditing SearchDataTask="AttemptsTask"></GridForEditing>

        <GridForEditing SearchDataTask="CompetitionsTask"></GridForEditing>

        <GridForEditing SearchDataTask="CountriesTask"></GridForEditing>

        <GridForEditing SearchDataTask="DisqualificationsTask"></GridForEditing>

        <GridForEditing SearchDataTask="PeriodsTask"></GridForEditing>

        <GridForEditing SearchDataTask="PlacesTask"></GridForEditing>

        <GridForEditing SearchDataTask="RecordsTask"></GridForEditing>

        <GridForEditing SearchDataTask="RecordTypesTask"></GridForEditing>

        <GridForEditing SearchDataTask="WeightCategoriesTask"></GridForEditing>

    </div>

