@page "/"
@using WeightliftingTeam1.Components
@using WeightliftingTeam1.Data
@using WeightliftingTeam1.ModelsForOutput
@using WeightliftingTeam1.Panels
@inject SearchResultService searchResultService
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<AuthorizeView>
    <Authorized>
        <div class="text-section">
            hi admin
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="text-section">
            The site is dedicated to weightlifting results
        </div>
    </NotAuthorized>
</AuthorizeView>

<div class="container-fluid min-vh-70">

    <div class="row align-items-start pb-4">
        <div class="col-md-4 col-lg-3 order-md-12  my-col">
            <select @onchange="ChangePanelTypeEvent" class="custom-select mb-2">
                <option value="@PanelType.Attempts">@PanelType.Attempts</option>
                <option value="@PanelType.Athletes">@PanelType.Athletes</option>
            </select>

            <AggregationPanel PanelType="CurrPanelType"
                              AggregationPanels="AggregationPanels"
                              OnSearchClick="SetDataForGrid"
                              OnClearButtonClick="OnClearButtonClick">
            </AggregationPanel>
        </div>
        <div class="col-md-8 col-lg-9 my-col ">
            <MyTelerikGrid PanelType="CurrPanelType" DataForGrids="DataForGrids"></MyTelerikGrid>
        </div>
    </div>
</div>
<style>
    /* hide the built-in grid pager */
    .custom-pager .k-grid .k-pager-wrap {
        display: none;
    }

    /* just to showcase how the wrapper contrls the width of both components since they are now separate */
    .custom-pager {
        width: 600px;
    }
</style>
