@layout LoginLayout
@page "/login"
@using WeightliftingTeam1.Data;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<div class="my-param-container p-3">
    <EditForm Model="@user" OnValidSubmit="@ValidateUser">
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" @bind="user.Password">
            <small class="form-text text-muted">@LoginMessage</small>
        </div>

        @*<div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1">
                <label class="form-check-label" for="check1">Remember me</label>
            </div>*@

        <button type="submit" class="btn btn-primary mt-3">Sign In</button>
    </EditForm>
</div>

@code {
    private Admin user;

    public string LoginMessage { get; set; }

    protected override Task OnInitializedAsync()
    {
        user = new Admin();
        LoginMessage = "Admin rights lets you modify db";
        return base.OnInitializedAsync();
    }

    public async Task<bool> ValidateUser()
    {

        //if is valid:
        if (PasswordValidation.IsValid(user.Password))
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(PasswordValidation.GetHash(user.Password));

            await sessionStorage.SetItemAsync("hash", PasswordValidation.GetHash(user.Password));

            NavigationManager.NavigateTo("/");
        }
        else
        {
            LoginMessage = "Access is denied! Try again";
        }

        return await Task.Run(() => true);
    }
}
